html,
body {
    width: 600px;
    height: 600px;
}

button {
    margin: 10px;
    min-width: 150px;
}

progress {
    margin: 10px;
    min-width: 300px;
    width: 100%;
}

textarea {
    min-height: 150px;
}

.hidden {
    display: none;
}

#popup-content {
    margin: auto;
    padding: 20px;
}