body {
    width: 720px;
    min-height: 720px;
}

div {
    margin-bottom: 20px;
}

button {
    margin-right: 20px;
    min-width: 160px;
}

progress {
    margin: 10px;
    min-width: 300px;
    width: 100%;
}

textarea {
    min-height: 160px;
    width: 97%;
}

.hidden {
    display: none;
}

#popup-content {
    margin: auto;
    padding: 10px;
    width: 700px;
}
